/*Login bar start*/

header{
	border-bottom: 2px solid rgb(254,78,1);
	padding: 10px 100px 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#logo{
	width: 350px;
}

#login-div #button-accedi{
	font-weight: lighter;
	font-size: larger;
	height: 34px;
	vertical-align: bottom;
	border: 2px solid rgb(254,78,1);
	cursor: pointer;
}

#login-div #button-accedi:hover{
	color:rgb(254,78,1);
}

button#search{
	background-color: rgb(254,78,1);
	width: 64px;
	height: 40px;
	border-radius: 5px;
}

button#search img{
	width:20px;
	margin:auto;
}

/*Login bar ends*/


/*Personal bar starts*/

#personal-area{
	position: relative;
}

#user-menu, #user-options-container div{
	background-color: rgb(77, 73, 73);
	width: 270px;
	font-size: 12pt;
}

#personal-area div>span{
	margin-left: 3px;
}

#user-menu{
	border: 2px solid rgb(168, 165, 165);
}

#user-menu>span{
	margin-right: 3px;
}

#user-options-container{
	position: absolute;
	top: 38px;
	left: 2px;
}

#user-options-container a{
	text-decoration: none;
	color: white;
}

.user-options{
	padding: 5px;
}

.hide{
	display: none;
	background-color: transparent;
}

#personal-area img{
	width: 20px;
}

img#down-arrow{
	width: 12px;
}

/*Personal bar ends*/

#w3c{
	margin:auto;
	text-align: center;
	padding: 30px 0;
}
