*{
	font-style: italic;
	font-size: 14pt;
	text-align: center;
}

#puzzlearea{
	width: 400px;
	height: 400px;
	margin: auto;
	position: relative
}

#puzzlearea div{
	font-size:40pt;
	width: 90px;
	height: 90px;
	border: 5px solid black;
	border-collapse: collapse;
	position: absolute;
	background-image: url("rick.jpg");
}

#puzzlearea div.highlight{
	border-color: red;
	color: red;
}

#victory{
	position: fixed;
	top: 15%;
	left: 50%;
	height: 300px;
	width: 600px;
	border-radius: 5px;
	transform: translate(-50%, 0);
	background-color:#99ff66;
	border: 2px solid #32CD32;
}

.shown {
	visibility: visible;
	z-index: 2;
}

.hidden{
	visibility: hidden;
	z-index: -1;
}

#victory h3{
	text-transform: uppercase;
	font-size: 2.5em;
}

#victory button{
	position: absolute;
	right: 30px;
	bottom: 30px;
	margin-right: 30px;
	float: right;
}

#image_0_0{
	background-position: 0px 0px;
}

#image_0_1{
	background-position: -100px 0px;
}

#image_0_2{
	background-position: -200px 0px;
}

#image_0_3{
	background-position: -300px 0px;
}

#image_1_0{
	background-position: 0px -100px;
}

#image_1_1{
	background-position: -100px -100px;
}

#image_1_2{
	background-position: -200px -100px;
}

#image_1_3{
	background-position: -300px -100px;
}

#image_2_0{
	background-position: 0px -200px;
}

#image_2_1{
	background-position: -100px -200px;
}

#image_2_2{
	background-position: -200px -200px;
}

#image_2_3{
	background-position: -300px -200px;
}

#image_3_0{
	background-position: 0px -300px;
}

#image_3_1{
	background-position: -100px -300px;
}

#image_3_2{
	background-position: -200px -300px;
}



.tile_0_0{
	left: 0px;
	top: 0px;
}

.tile_0_1{
	left: 100px;
	top: 0px;
}

.tile_0_2{
	left: 200px;
	top: 0px;
}

.tile_0_3{
	left: 300px;
	top: 0px;
}

.tile_1_0{
	left: 0;
	top: 100px;
}

.tile_1_1{
	left: 100px;
	top: 100px;
}

.tile_1_2{
	left: 200px;
	top: 100px;
}

.tile_1_3{
	left: 300px;
	top: 100px;
}

.tile_2_0{
	left: 0px;
	top: 200px;
}

.tile_2_1{
	left: 100px;
	top: 200px;
}

.tile_2_2{
	left: 200px;
	top: 200px;
}

.tile_2_3{
	left: 300px;
	top: 200px;
}

.tile_3_0{
	left: 0px;
	top: 300px;
}

.tile_3_1{
	left: 100px;
	top: 300px;
}

.tile_3_2{
	left: 200px;
	top: 300px;
}

.tile_3_3{
	left: 300px;
	top: 300px;
}