    <div id="w3c">
        <a href="http://validator.w3.org/check/referer"> 
            <img width="88" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML5!">
        </a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" />
        </a> 
    </div>
    <script src="../../js/header.js"></script>
    <script src="../../js/common.js"></script>
    <!-- Jquery cdn connection -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    </body>
</html>