body{
    background: url(m.jpg) no-repeat fixed;
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

h1,h2{
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial,  sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

ul{
    list-style-image: url(logo.gif);
}

a{
    color: #a4a400;
}

#fotoAmato{
    text-align: right;
}

#fotoAmato img{
    width:240px;
    height:240px;
}

#html{
    width: 90px;
}