body{
    background-color:#ff9c71a6;
    font-size: 12pt;
    font-weight: lighter;
}

h1,h2,h3{
    font-size: 18pt;
    font-family: "Lucida Sans Unicode", Helvetica, Arial,  sans-serif;
    text-align: center;
    background-color: #e4fde1;
    color: #6b9aa2;
}

h1{
    font-size: 22pt;
    font-weight: bold;
}

ul, ol{
    background-color: #dd614a;
}

p, li{
    font-family: Georgia, Garamond, serif;
}

li{
    color: #e4fde1;
}

#bio-link{
    font-size: 1.5em;
}

#maglietta{
    text-align: center;
}