body{
	background-color: #dad9d4;
	font-family: Verdana, sans-serif;
	color: #404040;
}

#banner, #w3c{
	background-color: black;
	background-image: url("../img/banner-background.png");
	color: white;
	padding: 10px;
	text-align: left;
}

#frame{
	width: 90%;
	margin: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

h1{
	font-size: 2em;
}

#errMsg{
	font-weight: bold;
	color: black;
}

#errMsg.error{
	color:  #ff0f0f;
}

#list{
	width: 80%;
	margin: auto;
}

table, tr{
	border: 1px solid #dad9d4;
	border-collapse: collapse;
}

td{
	width: 15%;
}

td:nth-child(2){
	width:70%;
}

tr:nth-child(even){
	background-color: #dad9d4;
}

fieldset{
	width: 24em;
	text-align: left;
	margin: 20px auto;
}