/*
** Author: Marco Amato
** Lab1 - Esercizio 2
*/

body{
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png);
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	margin:0;
	padding:0;
}

#banner{
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png);
	background-repeat: repeat-x;
	height: 50px;
}

#banner img{
	display: block;
	margin:auto;
}

h1{
	text-align: center;
	font-size: 24pt;
	text-shadow: 3px 3px #999999;
}

#main{
	width: 800px;
	margin:auto;
	border: 4px solid #999999;
	border-radius: 25px;
	overflow: hidden;
}

#info{
	float:right;
	width: 250px;
}

#info, #page-number{
	background-color: #A2B964;
}

#info-list{
	padding:10pt;
	font-family: Arial, sans-serif;
}

dt{
	font-weight: bold;
	margin-top: 10pt;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

#reviews{
	width: 550px;
}

#reviews_banner{
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png);
	background-repeat: repeat-x;
	height: 83px;
	font-weight: bold;
	color:red;
	font-size: 48pt;
}

#reviews_banner span{
	position: absolute;
}

.column{
	width: 47%;
	float: left;
}

#column-left{
	margin-left: 2%;
}

#column-right{
	margin-left: 2%;
	margin-right: 2%;
}

.review{
	margin-top: 20pt;
	margin-bottom:20pt;
}

.review-content{
	background-color: #E8DC9B;
	font-weight: bold;
	border: 2px grey solid;
	border-radius: 10px;
	padding:8px;
}

.review-content img{
	float:left;
	margin-right: 5px;
}

.review-author{
	min-height: 33px;
}

.review-author img{
	float: left;
	margin-right: 5px;
}

span.publication{
	font-style: italic;
}

#page-number{
	text-align: center;
	clear:both;
	padding:5px;
	margin:0;
}

#validators{
	position:fixed;
	bottom:0;
	right:0;
	opacity: 0.5;
}